ifneq ("$(HEADLESS)", "1")

LIBS += -lglfw

ifeq ("$(RENDER_API)", "vulkan")

LIBS += -lvulkan
        
OBJS += graphics/render-vulkan/vulkan_context.o \
        graphics/render-vulkan/vulkan_debug.o \
        graphics/render-vulkan/vulkan_device.o \
        graphics/render-vulkan/vulkan_swapchain.o \

endif

endif
